#sync {
  margin: 65px 30px;
  cursor: pointer;
  p {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #374a5e;
  }
}
.synced img {
  transform: rotate(-180deg);
}
.unsynced {
  transform: rotate(0deg);
}
