#sync {
  margin: 0 20px;
  p {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #374a5e;
  }
}
