<div id="dropdown">
  <div class="line" (click)="toggleGroups()">
    <div class="checkbox"><img src="/assets/check.png" /></div>
    <div class="name">All contacts</div>
    <div class="arrow" [@dropdown]="showGroups ? 'arrowdown' : 'arrowup'">
      <img src="/assets/arrow.png" alt="arrow" />
    </div>
  </div>
  <div
    class="list"
    *ngIf="showGroups"
    [@slideDown]="showGroups ? 'arrowdown' : 'arrowup'"
  >
    <div [ngClass]="{ checked: allChecked, line: true }" (click)="checkAll()">
      <div class="checkbox">
        <img
          *ngIf="allChecked"
          src="/assets/checked-box.png"
          alt="checked box"
        />
        <img
          *ngIf="allChecked"
          src="/assets/checked-check.png"
          class="thick"
          alt="check"
        />
        <img *ngIf="!allChecked" src="/assets/box.png" alt="box" />
      </div>
      <div class="name">All contacts</div>
    </div>
    <div
      *ngFor="let group of groups; index as i"
      [ngClass]="{ checked: group.checked, line: true }"
      (click)="toggleGroup(group)"
    >
      <div class="checkbox">
        <img
          *ngIf="group.checked"
          src="/assets/checked-box.png"
          alt="checked box"
        />
        <img
          *ngIf="group.checked"
          src="/assets/checked-check.png"
          class="thick"
          alt="check"
        />
        <img *ngIf="!group.checked" src="/assets/box.png" alt="box" />
      </div>
      <div class="name">{{ group.name }}</div>
    </div>
  </div>
</div>
